@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bf24zr');
  src:  url('../fonts/icomoon.eot?bf24zr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bf24zr') format('truetype'),
    url('../fonts/icomoon.woff?bf24zr') format('woff'),
    url('../fonts/icomoon.svg?bf24zr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-long-right:before {
  content: "\e901";
}
.icon-lock-closed:before {
  content: "\e900";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-user-circle:before {
  content: "\f2bd";
}
